<footer id="footer">
    <div class="container2">
        <div class="row">
            <div class="col-md-3">
                <a href="index.html"><img src="images/main-logo.png" alt="logo" class="img-fluid logo-footer"></a>

                <div class="social-links">
                    <h2>Follow Us</h2>
                    <img src="./assets/images/about/home_line.png" alt="">
                    <div class="social-icons">
                        <li><a href=""><i class="fa-brands fa-facebook-f"></i> Facebook</a></li>
                        <li><a href=""><i class="fa-brands fa-instagram"></i> Instagram</a></li>
                        <li><a href=""><i class="fa-brands fa-youtube"></i> YouTupe</a></li>
                    </div>
                </div>

                <div class="address">
                    <h2>Address</h2>
                    <img src="./assets/images/about/home_line.png" alt="" class="img-fluid">
                    <div class="address-links">
                        <li class="address1"><i class="fa-solid fa-location-dot"></i> Cairo, Egypt</li>
                        <li><a href=""><i class="fa-solid fa-phone"></i> +20 01202911319</a></li>
                        <li><a href=""><i class="fa-solid fa-phone"></i> +20 01289155913</a></li>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>