<!DOCTYPE html>
<head>
   <meta charset="utf-8">
   <title>Responsive Navigation Bar</title>
   <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
   <nav>
      <ul>
         <li class="logo">LOGO?</li>
         <li class="items"><a href="/home_page">Home</a></li>
         <li class="items"><a href="/login_page">Login</a></li>
         <li class="items"><a href="/test_page">Test Page</a></li>
         <li class="items"><a href="/test_choice_page">Test Choice Page</a></li>
         <li class="items"><div>
            <% if (!user) { %>
                <a href="/signup_page" class="">Sign In</a>
            <% } else { %>
                <a href="/profile_page" class="">Profile</a>
            <% } %>
        </div></li>
      </ul>
   </nav>
   <script>
      $(document).ready(function(){
        $('.btn').click(function(){
          $('.items').toggleClass("show");
          $('ul li').toggleClass("hide");
        });
      });
   </script>
</body>
</html>