
  <div id="test-form-container"></div>
    <form id="testForm" class="test-form">
      <label id="timeRemaining">0:00</label>
      <label id="questionCounter">1/100</label>
      <div class="number-display">
        <input type="text" id="num1" name="num1" readonly>  
        
        <input type="text" id="num2" name="num2" readonly>

        <input type="text" id="num3" name="num3" readonly>
  
        <input type="text" id="num4" name="num4" readonly>
  
        <input type="number" id="result" name="result" required>
      </div>
      <button type="submit" class="Next-button">Next</button>
    </form>
  </div>
  <!-- A div that will contain the results -->
  <div id="result-container" style="display: none;"></div>
  