<div id="BackLight">
  <div id="test-form-container">
    <form id="testForm" class="test-form">
      <div class="Form-Header">
      <input id="timeRemaining" readonly>
      <input id="questionCounter" readonly>
      </div>
      <div class="number-display">
        <input type="text" id="num1" name="num1"  readonly>  
        
        <input type="text" id="num2" name="num2"  readonly>

        <input type="text" id="num3" name="num3"  readonly>
  
        <input type="text" id="num4" name="num4"  readonly>
  
        <input type="number" id="result" name="result" autofocus required >
      </div>
      <div class="Form-Button-Container">
         <button type="submit" class="Form-Button" id="Next-Button"><span class="btnInner">Next</span></button>
         <button type="submit" class="Form-Button" id="Quit-Button"><span class="btnInner">Quit</span></button>
      </div>
    </form>
  </div>
</div> 