<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Including Bootstrap for template -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/forgotPass.css">
    <link rel="stylesheet" href="/navBar.css">
    <!-- Goodle Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap" 
    rel="stylesheet">
    <title>Forgot Password</title>
</head>
<body>
    <div class="whole-page-container">
        <%- include('partials/navBar') %>
      </div>
      <div class="page_content">
          <h1>The Forgot Password page will Be here</h1>
      </div>
</body>
</html>