<!DOCTYPE html>
<html>
  <head>
    <title>Mental Math</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <!-- Font Awesome Library -->
    <script src="https://kit.fontawesome.com/52c5fd92a7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" >
    <!-- Style Sheet -->
    <link rel="stylesheet" href="/Home-Page.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500&family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
  <script src="../Nav-Bar-JS/modernizr.js"></script>
  </head>
  <body data-bs-spy="scroll" data-bs-target="#navbar" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" tabindex="0"> 
    <header id="header" class="site-header header-scrolled position-fixed text-black bg-light">
      <nav id="header-nav" class="navbar navbar-expand-lg px-3 mb-3">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <img src="images/main-logo.png" class="logo">
          </a>
          <button class="navbar-toggler d-flex d-lg-none order-3 p-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#bdNavbar" aria-controls="bdNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <svg class="navbar-icon">
              <i style="" class="fa-solid fa-bars"></i>
            </svg>
          </button>
          <div class="offcanvas offcanvas-end" tabindex="-1" id="bdNavbar" aria-labelledby="bdNavbarOffcanvasLabel">
            <div class="offcanvas-header px-4 pb-0">
              <a class="navbar-brand" href="/">
                <img src="images/main-logo.png" class="logo">
              </a>
              <button type="button" class="btn-close btn-close-black" data-bs-dismiss="offcanvas" aria-label="Close" data-bs-target="#bdNavbar"></button>
            </div>
            <div class="offcanvas-body">
              <ul id="navbar" class="navbar-nav text-uppercase justify-content-end align-items-center flex-grow-1 pe-3">
                <li class="nav-item">
                  <a class="nav-link me-4 active" href="#billboard">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link me-4" href="#company-services">About Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link me-4" href="#mobile-products">Services</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link me-4" href="#smart-watches">Courses</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link me-4" href="/Test-Choice-Page">Mental Arithmetic</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link me-4 dropdown-toggle link-dark" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Pages</a>
                  <ul class="dropdown-menu">
                    <li class="nav-item">
                      <a class="nav-link me-4" href="/Contact-Page" class="dropdown-item">Contact Us</a>
                    </li>
                    <li class="nav-item">
                      <% if (!user) { %>
                        <!-- Show the login link only if no user is logged in -->
                        <a class="nav-link me-4" href="/login_page">Login</a>
                      <% } %>
                    </li>
                    <li class="nav-item">
                      <% if (user) { %>
                        <!-- If the user is logged in, show the profile link -->
                        <a class="nav-link me-4" href="/profile_page">Profile</a>
                      <% } else { %>
                        <!-- If the user is not logged in, show the register link -->
                        <a class="nav-link me-4" href="/signup_page">Register</a>
                      <% } %>
                    </li>                    
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <section id="billboard" class="position-relative overflow-hidden bg-light-blue">
      <div class="swiper main-swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="container">
              <div class="row d-flex align-items-center">
                <div class="col-md-6">
                  <div class="banner-content">
                    <h1 class="display-2 text-uppercase text-dark pb-5">منصة العباقرة الدولية للحساب الذهني</h1>
                    <a href="#company-services" class="btn btn-medium btn-dark text-uppercase btn-rounded-none" style="font-size: 18px;">من نحن</a>
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="image-holder" style="margin-top: 150px; margin-left: 90px;">
                    <img src="images/banner-image2.png" alt="banner">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="container">
              <div class="row d-flex flex-wrap align-items-center">
                <div class="col-md-6">
                  <div class="banner-content">
                    <h1 class="display-2 text-uppercase text-dark pb-5">الكورسات الخاصة بنا</h1>
                    <a href="#smart-watches" class="btn btn-medium btn-dark text-uppercase btn-rounded-none" style="font-size: 18px;">الكورسات </a>
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="image-holder" style="margin-top: 120px; margin-left: 90px;">
                    <img src="images/banner-image3.png" alt="banner">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-icon swiper-arrow swiper-arrow-prev">
        <svg class="chevron-left">
          <use xlink:href="#chevron-left" />
        </svg>
      </div>
      <div class="swiper-icon swiper-arrow swiper-arrow-next">
        <svg class="chevron-right">
          <use xlink:href="#chevron-right" />
        </svg>
      </div>
    </section>
    <section id="company-services" class="padding-large">
      <div class="container">
        <div class="row" dir="rtl">
          <div class="col-lg-3 col-md-6 pb-3">
            <div class="icon-box d-flex">
              <div class="icon-box-icon pe-3 pb-3">
                <i class="fas fa-brain" style="margin-left: 15px; margin-top: 24px;"></i>
              </div>
              <div class="icon-box-content">
                <h3 class="card-title text-uppercase text-dark" style="font-size: 50px; width: 500px; color: #72AEC8;">ما هي منصة العباقرة الدولية ؟</h3>
                <p style="width: 1200px; font-size: 30px; color: black;">
                  هي منصة دولية تهدف الي زيادة التنافسية بين جميع اطفال العالم من كل دولة في  الحساب الذهني وهي تعتمد علي المصدقية والشفافية لان عقول اطفالنا كنز يجب استثماره لذلك إجتهادنا لتطوير و استخدام احدث الأساليب والتقنيات لدعم الاطفال وجعلهم اكثر تنافسية
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="mobile-products" class="product-store position-relative padding-large no-padding-top" style="height: 260px;">
      <div class="container">
        <div class="row" dir="rtl">
          <div class="display-header d-flex justify-content-between pb-3">
            <h2 class="display-7 text-dark text-uppercase" style="font-size: 50px; width: 500px; color: #72AEC8; margin-right: 15px;">
              التي توفره المنصه
            </h2>
          </div>
          <div>
            <p style="width: 900px; font-size: 30px; color: black; margin-right: 45px;">
              المنصة يتوافر بيها العديد من الكورسات التي تساعد الطفل في المناهج الدراسية والعمل علي تطوير عقول الاطفال الذهنية بدلا من الطرق التقليدية 
            </p>
            <p style="width: 900px; font-size: 40px; color: black; margin-right: 18px;">
              ويتوافر ايضا كورسات لاعداد مدربيين ليكونو ضمن فريق العمل
            </p>
          </div>
        </div>
      </div>
      <div class="swiper-pagination position-absolute text-center"></div>
    </section>
    <section id="smart-watches" class="product-store padding-large position-relative">
      <div class="container">
        <div class="row" dir="rtl">
          <div class="display-header d-flex justify-content-between pb-3">
            <h2 class="display-7 text-dark text-uppercase" style="font-size: 50px; width: 500px; color: #72AEC8; margin-right: 15px;">الكورسات المتاحة</h2>
          </div>
          <div class="row" dir="rtl">
            <p style="width: 900px; font-size: 30px; color: black; margin-right: 45px;">
              <i class="fa-solid fa-circle-check" style="margin-left: 10px; margin-top: -10px;"></i>
              كورسات حساب ذهني للاطفال بجميع اللغات
            </p>
            <p style="width: 900px; font-size: 30px; color: black; margin-right: 45px;">
              <i class="fa-solid fa-circle-check" style="margin-left: 10px; margin-top: -10px;"></i>
              كورسات رياضيات الفيدا للاطفال            
            </p>
            <p style="width: 900px; font-size: 30px; color: black; margin-right: 45px;">
              <i class="fa-solid fa-circle-check" style="margin-left: 10px; margin-top: -10px;"></i>
              كورسات في اللغات ايضا :
            </p>
            <p style="width: 900px; font-size: 30px; color: black; margin-right: 70px;">
              <i class="fa-solid fa-arrow-left" style="margin-left: 10px; margin-top: -10px;"></i>
              الأنجليزية
            </p>
            <p style="width: 900px; font-size: 30px; color: black; margin-right: 70px;">
              <i class="fa-solid fa-arrow-left" style="margin-left: 10px; margin-top: -10px;"></i>
              الألمانية
            </p>
            <p style="width: 900px; font-size: 30px; color: black; margin-right: 70px;">
              <i class="fa-solid fa-arrow-left" style="margin-left: 10px; margin-top: -10px;"></i>
              الأيطالية
            </p>
            <p style="width: 900px; font-size: 30px; color: black; margin-right: 70px;">
              <i class="fa-solid fa-arrow-left" style="margin-left: 10px; margin-top: -10px;"></i>
              الفرنسية
            </p>
          </div>
          <p style="width: 1200px; font-size: 40px; color: black; margin-right: 18px;">
            ولاننسي ايضا الاشتراكات في البطولات الدولية التي تبني في الاطفال الشخصية القيادية
          </p>
          <div class="display-header d-flex justify-content-between pb-3"></div>
            <h2 class="display-7 text-dark text-uppercase" style="font-size: 50px; width: 500px; color: #72AEC8; margin-right: 15px; margin-top: 55px;"> ماهو الحساب الذهني</h2>
          </div>
          <div class="row" dir="rtl">
            <p style="width: 1200px; font-size: 30px; color: black; margin-right: 45px;">
              هو تعلم الاطفال كيفية أداء العمليات الحسابية للاطفال دون استخدام الالة الحاسبة او استخدام الورقة والقلم عن طريق تخيل الارقام الحسابية
            </p>
          </div>
          <div class="display-header d-flex justify-content-between pb-3" dir="rtl">
            <h2 class="display-7 text-dark text-uppercase" style="font-size: 50px; width: 500px; color: #72AEC8; margin-right: 15px; margin-top: 55px;"> فوائد الحساب الذهني  </h2>
          </div>
          <div class="row" dir="rtl">
            <p style="width: 900px; font-size: 30px; color: black; margin-right: 45px;">
              <i class="fa-solid fa-circle-check" style="margin-left: 10px; margin-top: -10px;"></i>
              فوائد الحساب الذهني            
            </p>
            <p style="width: 900px; font-size: 30px; color: black; margin-right: 45px;">
              <i class="fa-solid fa-circle-check" style="margin-left: 10px; margin-top: -10px;"></i>
              زيادة الثقه في النفس 
            </p>
            <p style="width: 900px; font-size: 30px; color: black; margin-right: 45px;">
              <i class="fa-solid fa-circle-check" style="margin-left: 10px; margin-top: -10px;"></i>
              زيادة التركيز            
            </p>
            <p style="width: 900px; font-size: 30px; color: black; margin-right: 45px;">
              <i class="fa-solid fa-circle-check" style="margin-left: 10px; margin-top: -10px;"></i>
              رفع المستوي التخيلي لدي عقل الطفل 
            </p>
            <p style="width: 900px; font-size: 30px; color: black; margin-right: 45px;">
              <i class="fa-solid fa-circle-check" style="margin-left: 10px; margin-top: -10px;"></i>
              زيادة مستوي الذكاء وبناء الشخصية 
            </p>
            <p style="width: 900px; font-size: 30px; color: black; margin-right: 45px;">
              <i class="fa-solid fa-circle-check" style="margin-left: 10px; margin-top: -10px;"></i>
              تطوير المهارات الرياضيه 
            </p>
          </div>
        </div>
      </div>
      <div class="swiper-pagination position-absolute text-center"></div>
    </section>
    <footer id="footer" class="overflow-hidden">
      <div class="container">
        <div class="row">
          <div class="footer-top-area">
            <div class="row d-flex flex-wrap justify-content-between">
              <div class="col-lg-3 col-sm-6 pb-3">
                <div class="footer-menu">
                </div>
              </div>
   
    <!-- footer section start -->
		<footer id="footer">
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<a href="index.html"><img src="images/main-logo.png" alt="logo" class="img-fluid logo-footer"></a>
                      <div class="footer-about">
                          <p style="width: 1000px; color: black; font-size: 20px; text-align: center; margin-left: 55px;">
                            تهدف إلى تحسين مهارات الأطفال والطلاب في الحساب الذهني، حيث تساعدهم على إجراء العمليات الحسابية بسرعة ودون استخدام أدوات مساعدة مثل الآلة الحاسبة. تعتمد المنصة على تقديم تمارين حسابية تفاعلية تتدرج في الصعوبة، وتغطي العمليات الحسابية الأساسية كالجمع، الطرح، الضرب، والقسمة.
                            تعمل المنصة على تطوير الذاكرة والتركيز بالإضافة إلى تعزيز الثقة بالنفس لدى الطلاب عند حل المسائل الرياضية. ويمكن للطلاب متابعة تقدمهم عبر نظام تقارير متكامل يعرض مستوى الأداء والنتائج بشكل دوري، مما يتيح للمعلمين وأولياء الأمور تتبع تطور مهارات أبنائهم.
                          </p>
                      </div>
					</div>
					<div class="col-md-3">
						<div class="useful-link">
							<h2>Useful Links</h2>
							<img src="./assets/images/about/home_line.png" alt="" class="img-fluid">
							<div class="use-links">
								<li><a href="/"><i class="fa-solid fa-angles-right"></i> Home</a></li>
								<li><a href="/Contact-Page"><i class="fa-solid fa-angles-right"></i> Contact Us</a></li>
							</div>
						</div>

					</div>
                    <div class="col-md-3">
                        <div class="social-links">
							<h2>Follow Us</h2>
							<div class="social-icons">
								<li><a href=""><i class="fa-brands fa-facebook-f"></i> Facebook</a></li>
								<li><a href=""><i class="fa-brands fa-instagram"></i> Instagram</a></li>
								<li><a href=""><i class="fa-brands fa-youtube"></i> YouTupe</a></li>
							</div>
						</div>
          </div>
					<div class="col-md-3">
						<div class="address">
							<h2>Address</h2>
							<img src="./assets/images/about/home_line.png" alt="" class="img-fluid">
							<div class="address-links">
								<li class="address1"><i class="fa-solid fa-location-dot"></i> Cairo, Egypt</li>
                    <li><a href=""><i class="fa-solid fa-phone"></i> +20 01202911319</a></li>
                    <li><a href=""><i class="fa-solid fa-phone"></i> +20 01289155913</a></li>
							</div>
						</div>
					</div>     
				</div>
			</div>
		</footer>
    <script src="../Nav-Bar-JS/bootstrap.bundle.min.js"></script>
    <script src="../Nav-Bar-JS/jquery-1.11.0.min.js"></script>
    <script src="../Nav-Bar-JS/plugins.js"></script>
    <script src="../Nav-Bar-JS/script.js"></script>
  </body>
</html>