<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/navBar.css" >
    <title>index</title>
</head>
<body>
  <div class="whole-page-container">
    <%- include('partials/navBar') %>
      <div class="page_content">
          <h1>The Home page will Be here</h1>
      </div>
  </div>
</body>
</html>