<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Sign</title>
    <!-- Main Template CSS File -->
    <link rel="stylesheet" href="/Login.css">
    <link rel="stylesheet" href="/navBar.css">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap" 
    rel="stylesheet">
</head>
<body>
    <%- include('partials/navBar') %>
    <% if (verificationError) { %>
      <p><%= verificationError %></p>
  <% } %>
  
    <div class="container">
       <div class="text">
          Login Form
       </div>
       <form action="/login" method="post">
          <div class="data">
             <label>Email or Phone</label>
             <input type="email" name="email" required>
          </div>
          <div class="data">
             <label>Password</label>
             <input type="password" name="password" required>
          </div>
          <div class="forgot-pass">
             <a href="forgot_password">Forgot Password?</a>
          </div>
          <div class="btn">
             <div class="inner"></div>
             <button type="submit">Login</button>
          </div>
          <div class="signup-link">
             Not a member? <a href="signup_page">Signup now</a>
          </div>
       </form>
    </div>
</body>
</html>
