<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Sign</title>
    <!-- Main Template CSS File -->
    <link rel="stylesheet" href="/Login.css">
    <link rel="stylesheet" href="/navBar.css">
    <!-- Font Awesome Library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap" 
    rel="stylesheet">
</head>
<body>
    <div class="wrapper">
      <form action="/login" method="POST">
        <a href="/" style="background-color: #fff;" class="learnBtn back-btn">
          <i class="fa-solid fa-arrow-left" style="color: black;"></i>
        </a>
        <h2>Login</h2>
          <div class="input-field">
          <input type="text" name="email" required>
          <label>Enter your email</label>
        </div>
        <div class="input-field">
          <input type="password" name="password" required>
          <label>Enter your password</label>
        </div>
        <div class="forget">
          <label for="remember">
            <input type="checkbox" id="remember">
            <p>Remember me</p>
          </label>
          <a href="/Forgot_password">Forgot password?</a>
        </div>
        <button type="submit">Log In</button>
        <div class="register">
          <p>Don't have an account? <a href="/Signup_page">Register</a></p>
        </div>
      </form>
    </div>
    <script src='https://unpkg.com/feather-icons'></script>
    <script  src="../loginHandler.js"></script>
  </body>
</html>
