<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Pre-Made-Tests.css">
    <link rel="stylesheet" href="/navBar.css" >
    <title>Genius Acadmy</title>

</head>
<body>
    <div>
        <%- include('partials/navBar') %>
    </div>
    <script src="https://kit.fontawesome.com/95a02bd20d.js"></script>
    <!-- First Row -->
        <div class="container">
            <div class="card">
              <div class="face face1">
                <div class="content">
                          
                  <h3>Direct</h3>
                </div>
              </div>
              <div class="face face2">
                <div class="content">
                  <a href="#" type="button" id="Direct-TestBtn">Choose Test</a>
                </div>
              </div>
           </div>
           
           <div class="card">
              <div class="face face1">
                <div class="content">         
             <h3>Small Friends</h3>
                </div>
              </div>
              <div class="face face2">
                <div class="content">
                  <a href="#" type="button" id="SmallFriends-TestBtn">Choose Test</a>
                </div>
              </div>
           </div>
  
        </div>
    <!-- First Row -->

    <!-- Second Row -->
    <div class="container">
      <div class="card">
        <div class="face face1">
          <div class="content">        
            <h3>Big Friends</h3>
          </div>
        </div>
        <div class="face face2">
          <div class="content">
            <a href="#" type="button" id="BigFriends-TestBtn">Choose Test</a>
          </div>
        </div>
     </div>
     
     <div class="card">
        <div class="face face1">
          <div class="content">
       <h3>Multiplicstion</h3>
          </div>
        </div>
        <div class="face face2">
          <div class="content">
            <a href="#" type="button" id="Multiplication-TestBtn">Choose Test</a>
          </div>
        </div>
     </div>
  </div>
    <!-- Second Row -->

    <script src="/bundle.js"></script>
</body>
</html>