<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Pre-Made-Tests.css">
    <link rel="stylesheet" href="/navBar.css" >
    <title>Genius Acadmy</title>

</head>
<body>
    <div>
        <%- include('partials/navBar') %>
    </div>
    <script src="https://kit.fontawesome.com/95a02bd20d.js"></script>
        <div class="container">
            <div class="card">
              <div class="face face1">
                <div class="content">
                  <i class="fa-solid fa-child"></i>         
                  <h3>LeveL 1</h3>
                </div>
              </div>
              <div class="face face2">
                <div class="content">
                  <p>For Ages Less than 7</p>
                  <a href="/Pre-Made-Tests-type" type="button">Continue</a>
                </div>
              </div>
           </div>
           
           <div class="card">
              <div class="face face1">
                <div class="content">
                  <i class="fa-solid fa-children"></i>
             <h3>LeveL 2</h3>
                </div>
              </div>
              <div class="face face2">
                <div class="content">
                  <p>For Ages Between 7 And 10</p>
                  <a href="/Pre-Made-Tests-type" type="button">Continue</a>
                </div>
              </div>
           </div>
           
           
           <div class="card">
              <div class="face face1">
                <div class="content">
                  <i class="fa-solid fa-users"></i>
                   <h3>Level 3</h3>
                </div>
              </div>
              <div class="face face2">
                <div class="content">
                  <p>For Ages More Than 10</p>
                  <a href="/Pre-Made-Tests-type" type="button">Continue</a>
                </div>
              </div>
           </div>
         </div>
</body>
</html>