<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registertion Form</title>
    <!-- Main Template CSS File -->
    <link rel="stylesheet" href="/SignUp.css">
    <link rel="stylesheet" href="/navBar.css">

    <!-- Goodle Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap" 
    rel="stylesheet">
</head>
<body>
    <%- include('partials/navBar') %>
    <!-- Start Register Form -->
    <div class="containerform">
        <div class="space"></div>
        <div class="formfather">
            
            <!-- Start of Labels and inputs -->
<form class="form" method="post" action="/signup">
    <label class="label1">User Name</label>
    <input type="text" required class="input1" name="user_name"> <br> <br>
    
    <label class="label1">Email</label>
    <input type="email" placeholder="Email" class="input3" name="email"> <br> <br> 

    <label class="label1">Password</label> 
    <input type="password" class="input2" required name="password" minlength="8" maxlength="20"> <br> <br> 
    
    <label class="label1">Age</label>
    <input type="text" class="input5" name="age"> <br> <br> 
    
    <label class="label1">Phone Number</label>
    <input type="text" class="input6" name="phone"> <br><br>

            <p class="para1">Note: An account activation email will be sent to the email address you provide.</p>
                <p class="para2">By registering you consent to allow Cadi to retain personal information consisting of your email address and IP addresses used to access the site.</p>
                <input type="submit" required class="buttons" value="Register"> <br>
                <h3 class="header3">Already a member?</h3> <br>
                <a href="Login.html" class="login">Login</a>
            </form>
        </div>
    </div>
    <!-- End Register Form -->
</body>
</html>
