<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registertion Form</title>
    <!-- Main Template CSS File -->
    <link rel="stylesheet" href="/SignUp.css">
    <link rel="stylesheet" href="/navBar.css">

    <!-- Goodle Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap" 
    rel="stylesheet">
</head>
<body>
    <%- include('partials/navBar') %>
    <div class="container">
        <div class="title">Registration</div>
        <div class="content">
            <form action="/signup" method="POST">
                <div class="user-details">
                  <div class="input-box">
                    <span class="details">Full Name</span>
                    <input type="text" name="user_name" placeholder="Enter your name" required>
                  </div>
                  <div class="input-box">
                    <span class="details">Age</span>
                    <input type="text" name="age" placeholder="Enter your age" required>
                  </div>
                  <div class="input-box">
                    <span class="details">Email</span>
                    <input type="email" name="email" placeholder="Enter your email" required>
                  </div>
                  <div class="input-box">
                    <span class="details">Phone Number</span>
                    <input type="text" name="phone" placeholder="Enter your number" required>
                  </div>
                  <div class="input-box">
                    <span class="details">Password</span>
                    <input type="password" name="password" placeholder="Enter your password" required>
                  </div>
                  <div class="input-box">
                    <span class="details">Confirm Password</span>
                    <input type="password" name="confirm_password" placeholder="Confirm your password" required>
                  </div>
                </div>
                <div class="gender-details">
                  <input type="radio" name="gender" id="dot-1" value="male">
                  <input type="radio" name="gender" id="dot-2" value="female">
                  <input type="radio" name="gender" id="dot-3" value="other">
                  <span class="gender-title">Gender</span>
                  <div class="category">
                    <label for="dot-1">
                      <span class="dot one"></span>
                      <span class="gender">Male</span>
                    </label>
                    <label for="dot-2">
                      <span class="dot two"></span>
                      <span class="gender">Female</span>
                    </label>
                    <label for="dot-3">
                    </label>
                  </div>
                </div>
                <div class="button">
                  <input type="submit" value="Register">
                </div>
                <div class="login-link">
                  <p>Already a user? <a href="/login_page" class="login-link-button">Login</a></p>
              </div>
              </form>
              
        </div>
      </div>
    
</body>
</html>
