<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <!-- Including Bootstrap for template -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <!-- Main Template CSS File -->
    <link rel="stylesheet" href="/Test_Page.css">
    <link rel="stylesheet" href="/navBar.css">
</head>
<body>
        <div class="whole-page-container">
            <%- include('partials/navBar') %>

            <div class="page_content">
                <script src="../TFG.js"></script>
            </div>
          </div>
          
         
        
</body>
</html>