<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/Test-Page-Choice.css">
  <link rel="stylesheet" href="/navBar.css">
  <title>Choose Your Test</title>
</head>
<body>
  <div class="navBar">
    <%- include('partials/navBar') %>
  </div>
  
  <div class="container">
    <div class="box">
      <span></span>
      <div class="content">
        <h2>Genrerated Test</h2>
        <p>Is a Test by the Website's incode Logic.</p>
        <!-- A Special Button -->
        <a href="/Generated-Tests" id="Generated_btn">
          Lets Get Started
        </a>
      </div>
    </div>

    <div class="box">
      <span></span>
      <div class="content">
        <h2>Genius Acadmy Test</h2>
        <p>These are tests Provided and Made by the Acadmy's Mentors.</p>
        <!-- A Special Button -->
        <a href="/Pre-Made-Tests" id="Pre-Made-btn">
          Lets Get Started
        </a>
      </div>
    </div>
  </div>
  <script src="/bundle.js"></script>
</body>
</html>