*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
  }
  body{
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  nav ul li.logo {
    margin-left: -10px; 
  }