#test-form-container {
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    max-width: 400px;
    background-color: #f9f9f9;
}

#timeRemaining{

}

#questionCounter{

}

.number-display {
    display: flex;
    flex-direction: column;
}


.number-display input {
        margin: 0;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
        border: none;
}


.Next-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
}


